/* TODO: make it look awesome. */
/* TODO: make it responsive. */
@font-face {
  font-family: Rajdhani;
  src: url(Rajdhani-Regular.ttf);
}

#uvuId {
  display: none;
}

.logCommentSelector {
  display: block;
}

body {
  font-family: Rajdhani;
}
